<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.armhansa.hackaton">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ConsentConnect"></activity>
        <activity android:name=".activity.ConsentAddFriendActivity" />
        <activity android:name=".activity.TransactionActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.OtherMenuActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AroundMeActivity" />
        <activity android:name=".activity.AddFriendActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="findpay" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SelectMethodActivity" />
        <activity android:name=".activity.SettingNameActivity" />
    </application>

</manifest>